name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: sudo apt update && sudo apt install -y fontforge python3-fontforge python3-fonttools p7zip jq

      - name: Download Sarasa Gothic
        run: |
          wget -q $(curl 'https://api.github.com/repos/be5invis/Sarasa-Gothic/releases' | jq -r '.[0].assets | map(.browser_download_url) | map(select(test("SarasaTermSC-TTF-[0-9.]+\\.7z"))) | .[0]')
          7zr x Sarasa*.7z
          mkdir sarasa
          mv Sarasa*.ttf sarasa

      - name: Download Font Patcher
        run: |
          wget -q https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/FontPatcher.zip
          unzip FontPatcher.zip

      - name: Copy Scripts
        run: cp scripts/font-patcher font-patcher && cp scripts/otf2otc.py otf2otc.py

      - name: Build Nerd Font
        run: bash -xeu scripts/build

      - name: Display structure of the directory
        run: ls -R

      - name: Get version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          name: Release ${{ steps.get_version.outputs.VERSION }}
          tag_name: ${{ steps.get_version.outputs.VERSION }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          files: |
            sarasa-nerd/SarasaTermSCNerd.ttf.tar.gz
            sarasa-nerd/SarasaTermSCNerd.ttc.tar.gz
            sarasa-nerd/SarasaTermSCNerd.ttf.7z
            sarasa-nerd/SarasaTermSCNerd.ttc.7z
